# Compilation intermediates
*~
*.o
.nfs*

# Libraries
*.lib
*.a

# Executables/shared objects
*.so
*.so.*
bin/*

# Python
*.pyc

# UI ignores (HTML, CSS, JS, etc.)
bootstrap-*/dist
*.min.*
ui/dist

# Misc
*.sublime-workspace
