<div class="filter panel panel-danger" data-filter-index="{{index}}">
	<div class="panel-heading">
		<h3 class="panel-title">
			<label>
				<input name="filter-enabled" type="checkbox"> {{filter.name}}
			</label>

			<button type="button" class="close">&times;</button>
		</h3>
	</div>

	<div class="panel-body">
		<div class="form-group" data-param-name="mix">
			<label for="mix-perc">Mix percentage: <span class="value text-muted">1.000</span></label>
			<input type="range" class="form-control" name="mix-perc" min="0" max="2" step="0.001" value="1">
		</div>

		{{#each filter.params}}
			<div class="form-group" data-param-name="{{this.name}}">
				<label for="{{this.slug}}">
					{{this.name}}{{#ifEq this.t "range"}}: <span class="value text-muted">{{this.val}}</span>{{/ifEq}}
				</label>

				{{#ifEq this.t "range"}}
				<input type="range" class="form-control" name="{{this.slug}}" min="{{this.min}}" max="{{this.max}}" step="{{this.step}}" value="{{this.val}}">
				{{/ifEq}}
				{{#ifEq this.t "choice"}}
				<select class="form-control" name="{{this.slug}}">
					{{#each this.c}}
						<option value="{{@index}}">{{this}}</option>
					{{/each}}
				</select>
				{{/ifEq}}
			</div>
		{{/each}}
	</div>
</div>
